@import url('https://fonts.googleapis.com/css2?family=Asap:wght@200;300;400;600;700&display=swap');


body {
  font-family: 'Asap', sans-serif;
  font-size: 1rem;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #121214;
  text-decoration: none;
}

/* custom scrollbar customized */
/* width */
::-webkit-scrollbar {
  width: 1px;
  border-radius: 0;
  cursor: not-allowed;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #64B819; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: transparent; */
  /* width: 1px; */
  border-radius: 1px;
  background: #04b200;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: rgb(75, 80, 80);  */
}